# dependencies
node_modules
.pnp
.pnp.js

# testing
frontend/coverage


# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# env
.idea
venv
__pycache__
migrations

# db
db.sqlite3

# images
frontend/src/images

# fonts
frontend/src/fonts

# gulp
frontend/gulpfile.js
frontend/tasks

# css
frontend/src/css