.header {
  color: $text-primary-color;
  background-color: $background-tertiary-color;
  
  z-index: $header-z-index;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: nth($header-inner-padding, 1) nth($header-inner-padding, 2);

  @media (max-width: $small) {
    padding: nth($header-inner-padding, 1) nth($header-inner-padding, 2) / 2;
  }

  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0 ,35%);
}

.header-inner {
  display: flex;
  justify-content: space-between;

  button {
    height: $header-content-height;
    width: $header-content-height;
    padding: #{($header-content-height - $header-button-image-size) / 2} ;

    background-color: transparent;

    border-radius: 4px;
    border: none;
    outline: none;
    
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background-color: $selection-color;
    }
  }

  img {
    @include icon($header-button-image-size, $header-button-image-size)
  }
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header-search {
  display: flex;
  align-items: center;

  position: relative;

  height: $header-content-height;
  transition: 0.2s;

  width: 200px;

  &.expanded {
    width: 280px;
  }

  img {
    left: 7px;
    position: absolute;

    width: 16px;
    height: 16px;
  }

  input[type=text] {
    position: absolute;

    width: 100%;

    padding: 4px 10px 4px 30px;
    margin-right: 0;
    height: $header-content-height;

    background-color: $selection-color;
    color: $text-primary-color;

    border-radius: 4px;

    border: 0;

    &::placeholder {
        color: $text-primary-color;
    }

    &:focus {
      outline: none;
    }
  }
}

.search-results {
  position: absolute;
  top: $header-content-height + nth($header-inner-padding, 1);
  left: 0;

  width: 280px;
  max-height: 300px;
  overflow-y: auto;

  border-radius: 4px;
  border: 1px solid darken($background-secondary-color, 3%);

  font-size: 14px;
  background-color: $background-tertiary-color;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);

  padding: 0;
  margin: 0;
  list-style: none;

  &::-webkit-scrollbar {
    width: 7px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($color:  $selection-color, $amount: 20%);
    border-radius: 8px;
    
    &:hover {
      background-color: lighten($color:  $selection-color, $amount: 100%);
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: $background-secondary-color;
  }

  .search-results-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    cursor: pointer;
    transition: 0.1s;

    &:hover {
      background-color: $selection-color;
    }

    .left-side {
      display: flex;
      align-items: center;
    }
  }

  .search-results-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    margin-right: 5px;
  }

  .task-icon {
    @include icon(20px, 20px);
  }

  .filter-icon {
    @include icon;
  }
}