.header {
  color: $text-primary-color;
  background-color: $background-tertiary-color;
  
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0 ,35%);
}

.header-inner {
  margin: 0 40px;
  padding: $header-inner-padding;

  display: flex;
  justify-content: space-between;

  button {
    height: $header-content-height;
    width: $header-content-height;
    padding: #{($header-content-height - $header-button-image-size) / 2} ;

    background-color: transparent;

    border-radius: 4px;
    border: none;
    outline: none;
    
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background-color: $selection-color;
    }
  }

  img {
    @include icon($header-button-image-size, $header-button-image-size)
  }
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header-search {
  display: flex;
  align-items: center;

  position: relative;

  height: $header-content-height;

  img {
    left: 7px;
    position: absolute;

    width: 16px;
    height: 16px;
  }

  input[type=text] {
    position: absolute;

    padding: 4px 10px 4px 30px;
    margin-right: 0;
    height: $header-content-height;

    background-color: $selection-color;
    color: $text-primary-color;

    border-radius: 4px;

    border: 0;

    &::placeholder {
        color: $text-primary-color;
    }

    &:focus {
      outline: none;
    }
  }
}
