.main {
  transition: 0.25s;
  height: 100vh;
  overflow-y: auto;

  padding-top: $header-height;

  .sidebar-overlay {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 50;

    background-color: rgba(0,0,0,0.4);
    transition: 0.25s;

    &.off {
      opacity: 0;
      visibility: hidden;
    }

    &.on {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: $small) {
      padding-left: 0;
    }

    @media (min-width: $medium) {
      display: none;
    }
  }

  &.sidebar-on {
    @media (max-width: $small) {
      padding-left: 0;
    }

    @media (min-width: $medium) {
      padding-left: $sidebar-width;
    }
  } 

  &.sidebar-off {
    padding-left: 0;
  } 

  & > .container {
    margin: 0 auto;
    padding: 0 30px;

    @media (max-width: $small) {
      max-width: 100%;
    }

    @media (min-width: $medium) {
      max-width: 80%;
    }

    @media (min-width: $large) {
      max-width: 70%;
    }

    @media (min-width: $extra-large) {
      max-width: 45%;
    }
  }

  padding-bottom: 100px;

  &::-webkit-scrollbar {
    width: 10px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($color:  $selection-color, $amount: 20%);
    border-radius: 8px;
    
    &:hover {
      background-color: lighten($color:  $selection-color, $amount: 100%);
    }
  }

  &::-webkit-scrollbar-track {
    margin-top: $header-height;
    border-radius: 8px;
    background-color: $background-secondary-color;
  }
}

.task-list-header {
  margin-bottom: 25px;
  padding-top: $sidebar-padding-top + $sidebar-item-padding-top;
  position: sticky;
  top: 0;

  z-index: 1;

  background-color: $background-primary-color;

  .task-list-header-content {
    span {
      font-weight: bold;
      font-size: 20px;
      margin-right: 6px;
    }
    
    small {
      font-size: 12px;
      color: $accent-color;
    }
  }
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  z-index: 0;

  .add-task-form {
    position: relative;

    &:not(:only-child) {
      margin-top: $add-task-top-margin;
      &::before {
        content: "";
        position: absolute;
    
        top: -($add-task-top-margin + 2) / 2;
        left: 0;
        z-index: 1;
      
        width: 100%;
        height: 2px;
    
        background-color: $background-tertiary-color;
      }
    }
  }
}

.task-list-task {
  @include task-item;

  cursor: pointer;

  padding: 7px 15px;

  &.clicked {
    animation: task-list-item-click 0.4s;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .left-side {
    button {
      @include button-with-icon($task-checkbox-size, $task-checkbox-size);
      margin-right: $task-checkbox-right-margin;
    }

    .task-info {
      max-width: 80%;
    }

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .subtask-progress {
      color: rgba($text-secondary-color, 0.7);
      font-size: 0.8em
    }
  }

  & > button {
    @include button-with-icon(16px, 16px);
  }
}

.task-list-add-item {
  @include task-item;
  @include add-edit-item;

  padding: 7px 15px;

  position: relative;
  &:not(:only-child) {
    margin-top: $add-task-top-margin;
    &::before {
      content: "";
      position: absolute;
  
      top: -($add-task-top-margin + 2) / 2;
      left: 0;
      z-index: 1;
    
      width: 100%;
      height: 2px;
  
      background-color: $background-tertiary-color;
    }
  }
  
  .left-side {    
    @media (max-width: $small) {
      max-width: 100%;
      flex-basis: 100%;
      
      &:not(:only-child) {
        margin-bottom: 10px;
      }
    }

    button {
      @include button-with-icon($add-task-icon-size, $add-task-icon-size);

      margin-left: ($task-checkbox-size - $add-task-icon-size) / 2;
      margin-right: ($task-checkbox-size - $add-task-icon-size) / 2 + $task-checkbox-right-margin;
    }
  }

  .right-side {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    @media (max-width: $small) {
      flex-basis: 100%;
    }

    & > *:not(:last-child) {
      margin-right: 10px;
    }

    .show-calendar {
      color: $text-primary-color;
    }

    button {
      @include button-with-icon(auto, auto);
      text-transform: capitalize;

      display: flex;
      align-items: center;

      img {
        @include icon(18px, 18px);
      }

      .date-string {
        margin-left: 5px;
      }
    }
  }
}