main {
  transition: 0.3s;

  &.sidebar-on {
    padding-left: $sidebar-width;
  } 

  &.sidebar-off {
    padding-left: 0;
  } 

  .container {
    margin: 0 auto;
    max-width: 40%;
    width: 100%;
  }

  .content {
    padding-top: 45px;
  }
}

.task-list-header {
  margin-bottom: 25px;

  span {
    font-weight: bold;
    font-size: 20px;
    margin-right: 6px;
  }
  
  small {
    font-size: 12px;
    color: $accent-color;
  }
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list-item {
  display: flex;
  align-items: center;
  user-select: none;

  padding: 7px;
  border-radius: 4px;
  background-color: $background-secondary-color;
  height: $task-list-item-height;

  &:not(.no-hover):hover {
      background-color: $selection-color;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.button-with-icon {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
}

.task-list-task {
  @extend .task-list-item;

  &.clicked {
    animation: task-list-item-click 0.4s;
  }
  
  &:nth-last-child(2) {
    position: relative;
    margin-bottom: 32px;

    &::after {
      content: "";
      position: absolute;
  
      top: 140%;
      left: 0;
      z-index: 1;
    
      width: 100%;
      height: 1px;
  
      background-color: $background-tertiary-color;
    }
  }

  .left-side {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1;

    justify-content: flex-start;

    button {
      @extend .button-with-icon;

      width: $task-list-task-checkbox-size;
      height: $task-list-task-checkbox-size;

      margin-right: $task-list-item-icon-right-margin;

      img {
        width: $task-list-task-checkbox-size;
        height: $task-list-task-checkbox-size;
      }
    }
  }

  img {
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
}

.task-list-add-item {
  @extend .task-list-item;

  .left-side {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1;

    justify-content: flex-start;

    cursor: text;

    button {
      @extend .button-with-icon;
      
      width: $add-task-icon-size;
      height: $add-task-icon-size;
      margin-left: ($task-list-task-checkbox-size - $add-task-icon-size) / 2;
      margin-right: ($task-list-task-checkbox-size - $add-task-icon-size) / 2 + $task-list-item-icon-right-margin;
  
      img {
        width: $add-task-icon-size;
        height: $add-task-icon-size;
      }
    }

    input[type=text] {
      outline: none;
      background-color: transparent;
      border: none;

      color: $text-primary-color;

      margin-right: 10px;
      width: 100%;
    }
  }

  .right-side {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

    padding-right: 5px;

    & > *:not(:last-child) {
      margin-right: 10px;
    }

    .button-with-icon {
      color: $text-primary-color;
      text-transform: capitalize;

      display: flex;
      align-items: center;

      img {
        margin-right: 5px;
        width: 16px;
        height: 16px;
      }
    }

    .cancel {
      cursor: pointer;
      color: $text-secondary-color;
      
      padding: 0;
      border: none;
      background-color: transparent;

      &:hover {
        text-decoration: underline;
      }
    }

    .submit {
      cursor: pointer;
      color: $accent-color;

      padding: 0;
      border: none;
      background-color: transparent;

      &.disabled {
        text-decoration: line-through;
      }
    }
  }
}