.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $modal-z-index;

  margin: 0;

  width: 100vw;
  height: 100vh;

  &.shadow {
    background-color: rgba(0,0,0,0.4);
  }
}

.popper-overlay {
  @extend .modal-overlay;
  z-index: $popper-z-index;
}