.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  margin: 0;

  width: 100vw;
  height: 100vh;

  &.shadow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0,0,0,0.4);
  }
}