.sidebar {
  overflow-x: hidden;
  position: fixed;

  top: 0;
  left: 0;
  z-index: $sidebar-z-index;

  height: 100vh;

  padding-top: $sidebar-padding-top + $header-height;

  background-color: $background-secondary-color;
  transition: 0.3s;

  &.on {
    visibility: visible;
    width: $sidebar-width;
    padding-left: $sidebar-padding-left;

    @media (max-width: $small) {
      width: 85%;
    }
  }

  &.off {
    visibility: hidden;
    width: 0;
    padding-left: 0px;
  }

  ul {
    width: 98%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  user-select: none;

  border-radius: 6px;
  padding: $sidebar-item-padding-top 10px $sidebar-item-padding-top 7px;

  font-size: 15px;
  white-space: nowrap;

  height: auto;
  min-height: $sidebar-item-height;

  &:hover {
    background-color: $selection-color;
  }

  &.selected {
    .left-side {
      font-weight: bold;
    }
    .right-side {
      color: $accent-color;
    }

    background-color: $selection-color;
  }
  &:nth-last-child(2) {
    position: relative;
    margin-bottom: 17px;

    &::after {
      content: "";
      position: absolute;
  
      top: 120%;
      left: 0;
      z-index: 1;
    
      width: 100%;
      height: 2px;
  
      background-color: $background-tertiary-color;
    }
  }

  .left-side {
    display: flex;
    align-items: center;

    height: auto;
    min-height: $sidebar-item-height;

    img {
      margin-right: 5px;
      @include icon(18px, 18px);
    }
  }
  
  .right-side {
    display: flex;
    align-items: center;

    height: auto;
    min-height: $sidebar-item-height;

    color: $text-secondary-color;
  }
}

.sidebar-add-item {
  @include add-edit-item;
}