.sidebar {
  overflow-x: hidden;
  position: fixed;
  left: 0;
  z-index: $sidebar-z-index;

  height: 100vh;

  padding-top: $sidebar-padding-top + $header-height;

  background-color: $background-secondary-color;
  transition: 0.3s;

  &.on {
    visibility: visible;
    width: $sidebar-width;
    padding-left: $sidebar-padding-left;

    @media (max-width: $small) {
      width: 85%;
    }
  }

  &.off {
    visibility: hidden;
    width: 0;
    padding-left: 0px;
  }
}

.sidebar-content {
  width: 98%;

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0px;
  }
}

.sidebar-item {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  white-space: nowrap;
  
  border-radius: 6px;
  padding: $sidebar-item-padding-top 10px $sidebar-item-padding-top 7px;

  
  img {
    @include icon($siebar-item-icon-size, $siebar-item-icon-size);
    margin-right: 10px;
  }

  &:hover {
    background-color: $selection-color;
  }

  &.selected {
    font-weight: 550;
    background-color: $selection-color;
  }
  &:nth-last-child(2) {
    position: relative;
    margin-bottom: 17px;

    &::after {
      content: "";
      position: absolute;
  
      top: 120%;
      left: 0;
      z-index: 1;
    
      width: 100%;
      height: 2px;
  
      background-color: $background-tertiary-color;
    }
  }
}

.sidebar-item-text {
  font-size: 14px;
  min-height: 24px;
  line-height: 24px;
}