.sidebar {
  overflow-x: hidden;
  position: fixed;

  top: 0;
  left: 0;
  z-index: $sidebar-z-index;

  height: 100vh;

  padding-top: $sidebar-padding-top + $header-height;

  background-color: $background-secondary-color;
  transition: 0.3s;

  &.on {
    visibility: visible;
    width: $sidebar-width;
    padding-left: $sidebar-padding-left;

    @media (max-width: $small) {
      width: 85%;
    }
  }

  &.off {
    visibility: hidden;
    width: 0;
    padding-left: 0px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.sidebar-filters-list {
  width: 98%;
}

.default-filters {
  position: relative;
  margin-bottom: 18px;

  &::after {
    content: "";
    position: absolute;

    bottom: -10px;
    left: 0;
  
    width: 100%;
    height: 2px;

    background-color: $background-tertiary-color;
  }
}

.sidebar-item {
  @include sidebar-item;

  &:hover {
    background-color: $selection-color;
  }

  .left-side {
    display: flex;
    align-items: center;

    img {
      @include icon(18px, 18px);
    }
  }
  
  .right-side {
    display: flex;
    align-items: center;

    color: $text-secondary-color;
  }
}

.sidebar-expandable-item {
  @include sidebar-item;

  .collapse {
    @include button-with-icon(18px, 18px);

    margin-right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: 0.1s;

      &.collapsed {
        transform: rotate(90deg)
      }
    }
  }

  .add {
    @include button-with-icon(16px, 16px);
  }
}

.custom-filters {
  overflow: hidden;
}

.sidebar-custom-filter {
  @include sidebar-item;

  &:hover {
    background-color: $selection-color;
  }

  .filter-icon {
    @include icon
  }

  .right-side {
    button {
      @include button-with-icon(16px, 16px);
    }
  }
}