.standalone-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  width: 100vw;
  height: 100vh;

  background-color: $accent-color;
  background-image: linear-gradient(45deg, $accent-color 0%, #4457c2 46%, rgb(5, 179, 231) 100%);

  overflow: hidden;
}

.standalone-page-content {
  border-radius: 8px;
  padding: 30px 20px;
  
  color: black;
  background-color: white;

  @media (max-width: $small) {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 20vh;
  }

  overflow: hidden;
}