.task-detail {
  @include modal-content;

  width: 400px;
  height: auto;
  
  padding: 15px 10px;
  background-color: $background-primary-color;
  color: $text-secondary-color; 
  
  @media (max-width: $small) {
    width: 100vw;
    height: calc(100vh - #{$sidebar-padding-top + $sidebar-item-padding-top + $header-height + $top-offset-mobile});
    position: relative;
    top:  $sidebar-padding-top + $sidebar-item-padding-top + $header-height + $top-offset-mobile;
    transform: translate(-50%, 0%);

    border-radius: 10px;
    padding: 20px 25px;
  }
}

.heading {  
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-side {
    display: flex;
    align-items: center;
    
    text-transform: capitalize;

    img {
      @include icon(20px, 20px);
      margin-right: 5px;
    }

    .creation-date {
      font-size: 16px;
    }
  }
  
  & > button {
    @include button-with-icon;
  }
}

.detail-holder {
  position: relative;
  background-color: $background-secondary-color;
  border-radius: 6px;
  padding: 7px;
  margin-bottom: 15px;

  height: auto;
  max-height: 250px;

  @media (max-width: $extra-small) {
    padding: 3px;
    max-height: 28%;
  }

  @media (max-width: $small) {
    max-height: 32%;
  }

  @media (orientation: landscape) and (max-height: $medium) {
    height: auto;
    max-height: 190px;
  }

  overflow-y: auto;
  overflow-x: hidden;

  &.hover:hover {
    cursor: pointer;
    background-color: $selection-color;
  }
  
  &::-webkit-scrollbar {
    width: $note-textarea-scrollbar-width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $selection-color;
    border-radius: 6px;

    &:hover {
      background-color: lighten($color:  $selection-color, $amount: 100%);
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: $note-textarea-scrollbar-width;
    background-color: $background-secondary-color;
  }
}

.subtask-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task {
  @include task-item;
  @include add-edit-item;

  padding: 7px;

  .left-side {
    button {
      @include button-with-icon($task-checkbox-size, $task-checkbox-size);
      margin-right: $task-checkbox-right-margin;
    }

    .title {
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: text;
    }
  }

  & > button {
    @include button-with-icon;
  }
}

.subtask {
  @include task-item;
  @include add-edit-item;

  padding: 7px;

  .left-side {
    button {
      @include button-with-icon($subtask-checkbox-size, $subtask-checkbox-size);
      margin-top: 0;
      margin-bottom: 0;
      margin-left: ($task-checkbox-size - $subtask-checkbox-size) / 2;
      margin-right: $task-checkbox-right-margin + ($task-checkbox-size - $subtask-checkbox-size) / 2 ;
    }

    .title {
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: text;
    }
  }

  & > button {
    @include button-with-icon;
  }
}

.add-subtask {
  @include task-item;
  @include add-edit-item;

  padding: 7px;

  .left-side {
    @media (max-width: $small) {
      flex-basis: 100%;
      max-width: 100%;
      
      &:not(:only-child) {
        margin-bottom: 10px;
      }
    }

    button {
      @include button-with-icon($subtask-checkbox-size - 1, $subtask-checkbox-size - 1);

      margin-left: ($task-checkbox-size - $add-task-icon-size) / 2;
      margin-right: ($task-checkbox-size - $add-task-icon-size) / 2 + $task-checkbox-right-margin;
    }
  }
}

.deadline {
  height: $task-list-item-height;
  display: flex;
  align-items: center;
  padding: 7px;

  img {
    margin-right: 10px;
    @include icon(20px, 20px);
  }
}

.add-note {
  height: 100%;
  
  .note-textarea {
    width: calc(100% - #{$note-textarea-scrollbar-width});

    min-height: 130px;
    max-height: none;
    resize: none;
    overflow-y: hidden;
    overflow-x: hidden;

    background-color: transparent;
    border: none;
    outline: none;
  
    color: $text-secondary-color;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 0 $note-textarea-scrollbar-width;

    &::-webkit-scrollbar {
      width: $note-textarea-scrollbar-width;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $selection-color;
      border-radius: 6px;

      &:hover {
        background-color: lighten($color:  $selection-color, $amount: 100%);
      }
    }

    &::-webkit-scrollbar-track {
      border-radius: $note-textarea-scrollbar-width;
      background-color: $background-secondary-color;
    }
  }
  
  .save-note {
    background-color: $accent-color;
    color: $text-primary-color;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 7px;

    padding: 10px;
    float: right;

    cursor: pointer;
  }
}
