$background-primary-color: #202020;
$background-secondary-color: #282828;
$background-tertiary-color: #323232;

$text-primary-color: #e2e2e2;
$text-secondary-color: #b8b8b8;

$accent-color: #00bef9;
$selection-color: rgba(#888888, 0.2);

// header
$header-content-height: 28px;
$header-inner-padding: 8px;
$header-button-image-size: 20px;

// sidebar
$sidebar-width: 340px;
$siebar-item-icon-size: 16px;
$sidebar-padding-top: 30px;
$sidebar-padding-left: 35px;
$sidebar-item-padding-top: 5px;

// main
$task-list-item-height: 38px;
$task-checkbox-right-margin: 15px;
$task-checkbox-size: 24px;
$add-task-icon-size: 18px;


// calendarPopup
$calendar-padding: 10px;
$calendar-date-option-height: 25px;
$calendar-date-option-icon-size: 18px;
