$background-primary-color: #202020;
$background-secondary-color: #282828;
$background-tertiary-color: #323232;

$text-primary-color: #e2e2e2;
$text-secondary-color: #b8b8b8;

$accent-color: #00bef9;
$selection-color: rgba(#888888, 0.2);

// header
$header-content-height: 28px;
$header-button-image-size: 20px;

// sidebar
$sidebar-width: 340px;
$siebar-item-icon-size: 16px;
$sidebar-padding-top: 30px;
$sidebar-padding-left: 35px;
