@mixin icon($w: 16px, $h: 16px) {
  width: $w;
  height: $h; 
}

@mixin button-with-icon($w: 16px, $h: 16px)  {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;

  width: $w;
  height: $h; 
}

@mixin task-item {
  display: flex;
  align-items: center;
  user-select: none;
  justify-content: space-between;
  flex-wrap: wrap;

  border-radius: 4px;
  background-color: $background-secondary-color;

  min-height: $task-list-item-height;
  height: auto;

  &:not(.no-hover):hover {
      background-color: $selection-color;
  }

  .left-side {
    max-width: 90%;
    display: flex;
    align-items: center;

    flex-grow: 1;
  }

  &.completed {
    text-decoration: line-through;
  }

  &.edit {
    background-color: $selection-color;
  
    .left-side {     
      @media (max-width: $small) {
        max-width: 100%;
        flex-basis: 100%;
        
        &:not(:only-child) {
          margin-bottom: 10px;
        }
      }
    }
    .right-side > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@mixin add-edit-item {
  .left-side {
    flex-grow: 1;
    cursor: text;

    input[type=text] {
      outline: none;
      background-color: transparent;
      border: none;
  
      color: $text-primary-color;
  
      margin-right: 10px;
      width: 100%;

      @media (max-width: $small) {
        margin-right: 0;
      }
    }
  }

  .right-side {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $small) {
      flex-basis: 100%;
    }

    .cancel {
      cursor: pointer;
      color: $text-secondary-color;
      
      padding: 0;
      border: none;
      background-color: transparent;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: $small) {
        color: $text-primary-color;
        padding: 8px;
        border-radius: 5px;
        background-color: $selection-color;
      }

      @media (max-width: $extra-small) {
        padding: 6px;
      }
    }

    .submit {
      cursor: pointer;
      color: $accent-color;

      padding: 0;
      border: none;
      background-color: transparent;

      @media (max-width: $small) {
        color: $text-primary-color;
        padding: 8px;
        border-radius: 5px;
        background-color: $accent-color ;
      }

      @media (max-width: $extra-small) {
        padding: 6px;
      }

      &.disabled {
        text-decoration: line-through;
        opacity: 0.4;

        @media (max-width: $small) {
          text-decoration: none;
        }
      }
    }
  }
}