@font-face {
  font-family: Roboto;
  src: local("Roboto Bold"),local("Roboto-Bold"),url(../fonts/Roboto.woff2) format("woff2"),url(../fonts/Robotobold.woff) format("woff"),url(../fonts/Robotobold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Roboto;
  src: local("Roboto"),local("Roboto-Regular"),url(../fonts/Roboto.woff2) format("woff2"),url(../fonts/Roboto.woff) format("woff"),url(../fonts/Roboto.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Roboto;
  src: local("Roboto Italic"),local("Roboto-Italic"),url(../fonts/Robotoitalic.woff2) format("woff2"),url(../fonts/Robotoitalic.woff) format("woff"),url(../fonts/Robotoitalic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic
}
body {
  color: #e2e2e2;
  font-size: 16px;
  background-color: #202020;
  font-family: Roboto,sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.nodrag {
  -webkit-user-drag: none
}
.icon {
  width: 16px;
  height: 16px
}
.header {
  color: #e2e2e2;
  background-color: #323232;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  -webkit-box-shadow: 0 -1px 3px 0 #000;
  box-shadow: 0 -1px 3px 0 #000
}
.header-inner {
  margin: 0 40px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header-inner button {
  height: 28px;
  width: 28px;
  padding: 4px;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  outline: 0
}
.header-inner button:not(:last-child) {
  margin-right: 10px
}
.header-inner button:hover {
  background-color: rgba(136,136,136,.2)
}
.header-inner img {
  width: 20px;
  height: 20px;
  border: none
}
.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 28px
}
.header-search img {
  left: 7px;
  position: absolute;
  width: 16px;
  height: 16px
}
.header-search input[type=text] {
  position: absolute;
  padding: 4px 10px 4px 30px;
  margin-right: 0;
  height: 28px;
  background-color: rgba(136,136,136,.2);
  color: #e2e2e2;
  border-radius: 4px;
  border: 0
}
.header-search input[type=text]::-webkit-input-placeholder {
  color: #e2e2e2
}
.header-search input[type=text]::-moz-placeholder {
  color: #e2e2e2
}
.header-search input[type=text]:-ms-input-placeholder {
  color: #e2e2e2
}
.header-search input[type=text]::-ms-input-placeholder {
  color: #e2e2e2
}
.header-search input[type=text]::placeholder {
  color: #e2e2e2
}
.header-search input[type=text]:focus {
  outline: 0
}